<h1>Patient Information:</h1>
<p>Name:<%= @patient.name %></p>
<p>Phone:<%= @patient.phone %></p>
<p>Age:<%= @patient.age %></p>
<p>Address:<%= @patient.address %></p>
<p>disease:<%= @patient.disease %></p>
