<h1 class="all">All Appointments</h1>
<table>
  <tr>
    <th>Doctor Name</th>
    <th>Date Time</th>
    <th>Confirmation</th>
    <th>Reject</th>  
  </tr>
  <% @all_appointments.each do |appointment| %>
  <tr> 
    <td><%= appointment.doctor&.name %>&nbsp &nbsp</td>
    <td><%= appointment.created_at %>&nbsp &nbsp</td>
    <td>
    <% if appointment.confirmation %>
    <%= "confirmed" %>
    <% else %> 
      <%= link_to "confirm", confirmation_appointment_path(appointment) %>
    <% end %>
  </td>&nbsp
  <td>
    <% if appointment.reject %>
    <%= "rejected" %>
    <% else %>
      <%= link_to "reject", reject_appointment_path(appointment) %>
    <% end %>
  </td>&nbsp
  </tr>
  <% end %>
  </table>
  <%= will_paginate @all_appointments %>
