<h1><%= @heading %></h1>
<table>
    <tr>
        <% if current_user.doctor? %>
            <th>Name</th>
            <th>Address</th>
            <th>Date</th>
            <% if params[:state] == "today" || "approved" || "all" %>
            <th>Confirmation</th>
            <% end %>
            <% if params[:state] == "today" || "rejected" || "all" %>
            <th>Reject</th>
            <% end %>
        <% else %>
            <th>Doctor Name</th>
            <th>Date Time</th>
            <th>Edit</th>
            <th>Cancel</th>
        <% end %>
    </tr>
    <% @appointments.each do |appointment| %>
    <tr>
    <% if current_user.doctor? %>
        <td><%= appointment.user.name %></td>&nbsp
        <td><%= appointment.address %></td>&nbsp
        <td><%= appointment.date %></td>&nbsp
        <% unless params[:state] == "rejected" %>
        <td>
            <% if appointment.confirmation %>
            <%= "confirmed" %>
            <% else %>
            <%= link_to "confirm", confirmation_appointment_path(appointment) %>
            <% end %>
        </td>&nbsp
        <% end %>
        <% unless params[:state] == "approved" %>
        <td>
            <% if appointment.reject == true %>
            <%= "rejected" %>
            <% else %>
            <%= link_to "reject", reject_appointment_path(appointment) %>
            <% end %>
        </td>&nbsp
        <% end %>
    <% else %>
        <td><%= appointment.doctor&.name %>&nbsp &nbsp</td>
        <td><%= appointment.created_at %>&nbsp &nbsp</td>
        <td><%= link_to "Edit",edit_appointment_path(appointment) %>&nbsp &nbsp</td>
        <td><%= link_to "Cancel",appointment_path(appointment),method: :delete %></td>
    <% end %>
    </tr>
    <% end %>
</table>
<%= will_paginate @appointments %>
