<h1>Appointments</h1>
<table>
  <tr>
    <th>Doctor Name</th>
    <th>Date Time</th>
    <th>Confirmed</th>
    <th>Edit</th>
    <th>Cancel</th>  
  </tr>
  <% @appointments.each do |appointment| %>
  <tr> 
    <td><%= appointment.doctor&.name %>&nbsp &nbsp</td>
    <td><%= appointment.created_at %>&nbsp &nbsp</td>
    <td><%= appointment.confirmation ? "yes" : "no" %>&nbsp &nbsp</td>
    <td><%= link_to "Edit",edit_appointment_path(appointment) %>&nbsp &nbsp</td>
    <td><%= link_to "Cancel",appointment_path(appointment),method: :delete %></td>
  </tr>
  <% end %>
  </table>
  <%= will_paginate @appointments %>

