
<h1>Appointment:</h1>
<fieldset>
    <legend>Appointment:</legend>
    <p>DoctorName:&nbsp &nbsp<%= @appointment.doctor.name %></p>
    <p>Phone:&nbsp &nbsp<%= @appointment.phone %></p>
    <p>Date:&nbsp &nbsp<%= @appointment.date %></p>
    <p>Disease:&nbsp&nbsp<%= @appointment.disease %></p>
    <p>Text:&nbsp &nbsp<%= @appointment.text %></p>
</fieldset>