<h1>Patient:</h1>
<p>Name:<%= @appointment.name %></p>
<p>Phone:<%= @appointment.phone %></p>
<p>Address:<%= @appointment.address %></p>
<p>date:<%= @appointment.date %></p>
<p>Disease:<%= @appointment.disease %></p>
<p>Text:<%= @appointment.text %></p>
</div>