<% if current_user.present?  %>
    <div class="navbar">
        <div class ="mail">
            Logged in as <%= current_user.email %>
        </div>
        <%= link_to 'Logout', destroy_user_session_path, method: :delete %>&nbsp
        <%= link_to "Book Appointment",new_appointment_path if current_user.patient? %>
        <div class="dropdown">
            <button class="dropbtn">Appointments
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <%= link_to "My Appointments",my_appointments_path if current_user.patient? %>
                <%= link_to "Todays Appointments",appointments_path("state": "today") if current_user.doctor?%>
                <%= link_to "Approved Appointments",appointments_path("state": "approved") %>
                <%= link_to "Reject Appointments", appointments_path("state": "rejected") %>
                <%= link_to "All Appointments", appointments_path("state": "all") if current_user.doctor? %>
            </div>
        </div>
        <%= link_to "New Doctor",new_user_registration_path if current_user.doctor? %>
    </div>
<% end %>
